{% extends base_template %}

{% block title %}Editar{% endblock %}

{% block content %}
<div class="sol_title mt-5"><h2>Editar Solicitação</h2></div>
<div class="edit_form mt-5">
<form method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
            <label  class="input-group-text">Solicitante</label >
            </div>
            <input type="text" value="{{obj.usuario.name}}" class="form-control" readonly>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
              <label   class="input-group-text" >Data</label >
            </div>
            <input type="text" value="{{obj.data}}" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                  <label for="inputText1"  class="input-group-text" >Navio</label >
                </div>
                <input type="text" name="navio"  id="inputText1" value="{{obj.navio}}" class="form-control" >
              </div>
            </div>

  <div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Berço</label>
        </div>
        <select name="berco" class="custom-select" id="inputGroupSelect01">
        {% for b in bercos %}
          {% if b == obj.berco %}
          <option value="{{b.pk}}" selected>{{b}}</option>
          {% else %}
          <option value="{{b.pk}}">{{b}}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
{% endblock %}