{% extends base_template %}
{% block title %}Programação{% endblock %}
{% block content %}
<div class="list-title mt-5">
    <h2>Programação</h2>
</div>
{% if not request.user.is_authenticated %}
<div><a class="btn btn-info" href="{% url 'login' %}">Fazer Login</a></div>
{% endif %}
{% for b in solicitacoes %}

    <table class="table  table-bordered bg-light" >
        <caption>Berco {{forloop.counter}}</caption>
        <tr>
            <td>Num</td>
            <td>Navio</td>
            <td>Data</td>
            <td>Solicitante</td>
        </tr>
    {% for s in b %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{s.navio}}</td>
            <td>{{s.data}}</td>
            <td>{{s.usuario}}</td>
            
        </tr>
        

    {% endfor %}
</table>
{% endfor %}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}