{% extends base_template %}
{% block title %}Programação{% endblock %}
{% block content %}
<div class="list-title mt-5">
    <h2>Programação</h2>
</div>
{% if not request.user.is_authenticated %}
<div><a class="btn btn-info m-2" href="{% url 'login' %}">Fazer Login</a></div>
{% endif %}
{% for b in solicitacoes %}

    <table class="table  table-bordered bg-light" >
        <caption>Berco {{forloop.counter}}</caption>
        <tr>
            <td>Num</td>
            <td>Navio</td>
            <td>Data</td>
            <td>Solicitante</td>
        </tr>
    {% for s in b %}
        <tr >
            <td style="width:70px;">
                <div style="float:left">{{forloop.counter}}</div> 
                {% if request.user.user_type == 1 or request.user.user_type == 3 %}
                <div data-toggle="tooltip" title="Registrar" style="float:right; font-size: large;"><a  href="{% url 'registrar' s.pk %}">&check;</a></div>
                {% endif %}
            </td>
            <td>{{s.navio}}</td>
            <td>{{s.data}}</td>
            <td>{{s.usuario}}</td>
        </tr>
    {% endfor %}
</table>
{% endfor %}

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}