{% extends base_template %}
{% block title %}Programação{% endblock %}
{% block content %}
<div class="list-title">
    <h2>Programação</h2>
</div>
{% for b in solicitacoes %}

    <table class="table table-light table-bordered" >
        <caption>Berco {{forloop.counter}}</caption>
        <tr>
            <td>Num</td>
            <td>Navio</td>
            <td>Data</td>
            <td>Solicitante</td>
        </tr>
    {% for s in b %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{s.navio}}</td>
            <td>
            {% if s.usuario == request.user %}
                <a data-toggle="tooltip"  title="Editar" href="{% url 'editar' atrid=s.pk %}">{{s.data}}</a>
                {% else %} {{s.data}}
            {% endif %}
            </td>
            <td>{{s.usuario}}</td>
            
        </tr>
        

    {% endfor %}
</table>
{% endfor %}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}