{% extends "base.html" %}


{% block navigation %}

<div class="topnav">
  <a {% if request.resolver_match.view_name == 'visualizar' %}class="active"{% endif %} href="{% url 'visualizar' %}">Programação</a>
  <a {% if request.resolver_match.view_name == 'insercao' %}class="active"{% endif %}href="{% url 'insercao' %}">Criar Solicitação</a>
  <a {% if request.resolver_match.view_name == 'solicitacoes' %}class="active"{% endif %}href="{% url 'solicitacoes' %}">Solicitações</a>
  
  
  <a class="a_logout" href="{% url 'logout' %}">Sair</a>
  <span  class="a_logout" >{{request.user.name}} - {{request.user.get_type}}</span>
</div>

{% endblock %}