{% load bootstrap3 %}
<!DOCTYPE html>
<html>
    <head>
      <title>{% block title %}Base{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        
        {% block extra_head %} {% endblock %}
      
     <style>
       {% block extra_style %}{% endblock %}
     </style>   
    </head>
    <body>
      {% block navigation %}{% endblock %}
      <div class="container">
        {% if messages %}
    {% for m in messages %}
    <div class="alert alert-info" role="alert">
        {{m}}
        </div>
    {% endfor %}
    {% endif %}
      {% block content %} {% endblock %}
    </div>
    </body>
</html>